<!DOCTYPE html>

<html>
<head>
    <title></title>
    
    <link rel="stylesheet" href="site.css"/>
</head>
<body>

<h1 class="jumbotron">LAYOUT!</h1>
    
    

@RenderBody()
    
<script src="site.min.js"></script>
@RenderSection("scripts", false)

</body>
</html>